[Unit]
Description=Convert worker script
Wants=network.target
After=network.target

[Service]
ExecStart=/usr/local/bin/convert-worker.sh

[Install]
WantedBy=multi-user.target